
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Enchentes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><ol>
        <li>Se puder, permaneça em casa</li>
        <li>Coloque documentos e objetos de valor em sacos plásticos bem fechados e em local protegido</li>
        <li>Feche portas, janelas e o registro de entrada de água</li>
        <li>Desconecte os aparelhos elétricos da corrente elétrica</li>
        <li>Evite áreas que contenham vidro</li>
        <li>Mantenha-se longe de árvores</li>
      </ol></div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Tornados</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ol>
          <li>Evite contato com cabos ou redes elétricas caídas, e não fique perto de edificações danificadas</li>
          <li> A melhor proteção individual é constituída por abrigos subterrâneos, como um porão. Se a sua residência não tem porão, fique em um corredor interno e deitado próximo ao chão.</li>
        </ol>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Terremotos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ol>
          <li>Fique calmo</li>
          <li>Se estiver dentro de um edifício, fique debaixo de uma mesa forte, vigas ou batente de porta. Se estiver na rua, fique longe de edifícios e outros objetos que possam cair</li>
          <li>Evite elevadores e escadas</li>
          <li>Siga as instruções das autoridades</li>
        </ol>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  </div>
</ion-content>
